@media(max-width: 480px){
	.thumb-image{
		display: none;
	}
}
p {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

code{
	background: #F5F5F5;
}

pre{
	background: #F5F5F5;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-family: 'Montserrat', sans-serif;
}

h4 {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Cardo', serif;
}

.jumbotron {
	height: 100px;
	width: 100%;
	background-color: white;
	text-align: center;
	
/* 	border: 2px solid green; */
	
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 28px;
	
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	padding-top: 5px;
	padding-bottom: 15px;
	height: 60px;
/* 	border: 2px solid red; */
	margin-top: 0px;
	margin-bottom: 0px;
}

#bio {
	margin-top: 00px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 1px;
/* 	border: 2px solid blue; */
}


.navbar-nav> li {
	display: inline-block;
	float: none;
	padding-right: 15px;
}

.text-center {
	text-align: center!important;
	display;
	inline-block;
}

.feature {
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 0px;
	border-radius: 15px;
}

.notebook-feature{
	padding: 10px;
	margin-top: 10px;
}

.thumb-image {
	height: 150px;
	width: 150px;
}

a {
	color: #373A3C;
}

.nav-item {
	font-size: 22px;
}

