h1 {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-family: 'Montserrat', sans-serif;
}

h4 {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Cardo', serif;
}

.jumbotron {
	height: 100px;
	width: 100%;
	background-color: white;
	text-align: center;
	
/* 	border: 2px solid green; */
	
	margin-bottom: 1px;
	margin-top: 30px;
	padding-bottom: 10px;
	padding-top: 30px;
	
	
	
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
	vertical-align: middle;
/* 	border: 2px solid red; */
	margin-top: 0px;
	margin-bottom: 1px;
}

.border-testing{
}

.navbar-nav> li {
	display: inline-block;
	float: none;
	padding-right: 10px;
}

.text-center {
	text-align: center!important;
	display;
	inline-block;
}

.feature {
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 0px;
	border-radius: 15px;
}

.thumb-image {
	height: 150px;
	width: 150px;
}

a {
	color: #373A3C;
}

.nav-item {
	font-size: 22px;
}

#bio {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}