h1 {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-family: 'Montserrat', sans-serif;
}

h4 {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Cardo', serif;
}

.jumbotron {
	height: 50px;
	width: 100%;
	background-color: white;
	text-align: center;
	margin-bottom: 0px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	padding-top: 0px;
	padding-bottom;
	0px;
	height: 20px;
	vertical-align: middle;
}

.navbar-nav> li {
	display: inline-block;
	float: none;
	padding-right: 10px;
}

.text-center {
	text-align: center!important;
	display;
	inline-block;
}

.feature {
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 0px;
	border-radius: 15px;
}

.thumb-image {
	height: 150px;
	width: 150px;
}

a {
	color: #373A3C;
}

.nav-item {
	font-size: 22px;
}

#bio {
	margin-top: 20px;
	margin-bottom: 20px;
}